{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set isFirst = isFirst ? 'isFirst' : '' %}

<div class="content-block embed-block" data-scroll-section>

    {#
        Eric, see this for responsive video styles: https://github.com/craftcms/starter-blog/blob/master/src/styles/_embed.scss
        oEmbed is supposed to work with google maps, but it doesn't, hence the other embed block.
        Leaving this option
    #}

    <div class="embed-container embed-{{ theBlock.embed.media.type }} {{ isFirst }}">

        {% if theBlock.embed.valid %}
            {{ theBlock.embed.render() }}
        {% endif %}

    </div>

</div>
