CRAFT_ENVIRONMENT=dev

DEFAULT_SITE_URL=https://europa.ddev.site/
BARCELONA_SITE_URL=https://barcelona.europa.ddev.site/
PARIS_SITE_URL=https://paris.europa.ddev.site/
LONDON_SITE_URL=https://london.europa.ddev.site/
LISBON_SITE_URL=https://lisbon.europa.ddev.site/

TWIGPACK_MANIFEST_PATH=http://host.docker.internal:8080/
TWIGPACK_PUBLIC_PATH=http://host.docker.internal:8080/
FS_HANDLE=imagesLocal
