CRAFT_APP_ID=CraftCMS-EuropaMuseum
CRAFT_ENVIRONMENT=dev
CRAFT_SECURITY_KEY="replace-me"
CRAFT_STREAM_LOG=1

PRIMARY_SITE_URL=https://europa-museum.ddev.site/
BARCELONA_SITE_URL=https://barcelona.europa-museum.ddev.site/
PARIS_SITE_URL=https://paris.europa-museum.ddev.site/
LONDON_SITE_URL=https://london.europa-museum.ddev.site/
LISBON_SITE_URL=https://lisbon.europa-museum.ddev.site/

FS_HANDLE=imagesLocal

TWIGPACK_MANIFEST_PATH=http://host.docker.internal:8080/
TWIGPACK_PUBLIC_PATH=http://host.docker.internal:8080/