CRAFT_APP_ID=CraftCMS-EuropaMuseum
CRAFT_ENVIRONMENT=dev
CRAFT_SECURITY_KEY="replace-me"
CRAFT_STREAM_LOG=1
CRAFT_BASE_CP_URL=https://cp.europa-museum.ddev.site/
CRAFT_CP_TRIGGER=""

GLOBAL_SITE_URL=https://europa-museum.ddev.site/
BARCELONA_SITE_URL=https://barcelona.europa-museum.ddev.site/
PARIS_SITE_URL=https://paris.europa-museum.ddev.site/
LONDON_SITE_URL=https://london.europa-museum.ddev.site/
LISBON_SITE_URL=https://lisbon.europa-museum.ddev.site/

ASSET_BASE_URL=https://cdn.europa-museum.ddev.site/assets/volumes/
ASSET_BASE_PATH=/var/www/html/web/assets/volumes/

TWIGPACK_MANIFEST_PATH=http://host.docker.internal:8080/
TWIGPACK_PUBLIC_PATH=http://host.docker.internal:8080/