# CRAFT ENVIRONMENT
.env

# COMPOSER
/vendor

# CRAFT STORAGE
!/storage/
/storage/*
!/storage/rebrand/

# WEB
/web/cpresources
/web/assets

# BUILD FILES
/node_modules
/yarn-error.log
/npm-debug.log

# MISC FILES
.cache
.DS_Store
.vscode
.idea

# For demo infrastucture only
!seed.sql
#!/web/assets

/submodules
