// Easings

$ease-in-1: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-1: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-1: cubic-bezier(0.645, 0.045, 0.355, 1);

$ease-in-2: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out-2: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out-2: cubic-bezier(0.86, 0, 0.07, 1);

$ease-in-3: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-out-3: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-3: cubic-bezier(1, 0, 0, 1);
