@charset "UTF-8";

// Plugin
@import './plugins/flickity';

// Shared
@import './shared/reset';
@import './shared/vars';
@import './shared/mixins';
@import './shared/typography';
@import './shared/global';
@import './shared/core-header';
@import './shared/core-footer';

// Pages
@import './pages/styleguide';
@import './pages/home';
@import './pages/exhibitions';
@import './pages/exhibit';
@import './pages/visit';
@import './pages/news';
@import './pages/news-article';
@import './pages/about';
@import './pages/contact';
@import './pages/page-error';

// Blocks
@import './components/blocks/heading';
@import './components/blocks/image-and-headings';
@import './components/blocks/stats-and-image';
@import './components/blocks/slider';
@import './components/blocks/rich-text';
@import './components/blocks/cta-caption';
@import './components/blocks/featured-entry';
@import './components/blocks/form';
@import './components/blocks/google-map-embed';

// Partials

