{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set entryTitle = 'Error' %}

{% extends "_/layouts/site" %}

{% block content %}

    <article data-router-view="default" data-handle="{{ entryTitle | lower }}">

        <div class="default-container wrapper" data-scroll-section>

            <h3 class="text-center">
                {{ entryTitle }}
            </h3>

        </div>

    </article>

{% endblock %}
